@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans&display=swap');

body {
	font-family: 'Georgia', serif;
}

.title {
	font-family: 'Arial', sans-serif;
	font-size: 3.25em; 
	text-align: center;
}

.subtitle {
	width:65%;
	font-size: 1.2em;
	margin: auto; 
	text-align: center
	padding-bottom: 50px;

}

.main-text {
	width:65%;
	font-size: 1em;
	margin: auto; 
	text-align: center
	padding-bottom: 50px;
}

.bottom-text {
	font-family: 'Arial', sans-serif;
	font-size: 2em; 
	float: bottom;
	text-align: center;
	display: block; 
}

.square-image {
	width: 90%;
	max-width: 300px;
	max-height: 300px;
	margin: auto;
	float: top;
	display: block;
	object-fit: contain;
}

.picture-link {
	float: left;
}


.two-per-row{
	width: 50%;
}

.three-per-row{
	width: 33%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  margin: auto;
}


@media screen and (max-width: 500px) {
  .picture-link {
    width: 100%;
  }
}

.italic {
  font-style: italic;
}
