@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

.title {
	font-family: 'Work Sans', sans-serif;
	font-size: 3em; 
	text-align: center;
}

.subtitle {
	width:70%;
	font-size: 1.2em;
	margin: auto; 
	text-align: center;
	padding-bottom: 50px;

}

.bottom-text {
	font-family: 'Work Sans', sans-serif;
	font-size: 2em; 
	float: bottom;
	text-align: center;
	display: block; 
}

.square-image {
	width: 90%;
	max-width: 300px;
	max-height: 300px;
	margin: auto;
	float: top;
	display: block;
	object-fit: contain;
}

.picture-link {
	float: left;
	padding-bottom: 50px;
}


.two-per-row{
	width: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  margin: auto;
  width: 100%; 
  max-width: 700px; 
}


@media screen and (max-width: 500px) {
  .picture-link {
    width: 100%;
  }
}
